.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Django local database
db.sqlite3
db_backup.sqlite3

# Django logs
*.log

# Collected static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db